<%-include('../cabecalho.ejs')%>
<h1>Empresas</h1>
<a href="/empresa/add">Adicionar Empresa</a>

<table>
    <tr>
        <td>Nome</td>
        <td>CNPJ</td>
        <td>Email</td>
        <td>Telefone</td>
        <td>Endereço</td>
        <td>Ações</td>
    </tr>
  
    <% for (const empresa of Empresas) { %>
    <tr>
        <td><%= empresa.nome %></td>
        <td><%= empresa.cnpj %></td>
        <td><%= empresa.email %></td>
        <td><%= empresa.telefone %></td>
        <td><%= empresa.endereco %></td>
        <td>
            <a href="/empresa/edt/<%= empresa._id %>">Editar</a> | 
            <a href="/empresa/del/<%= empresa._id %>">Excluir</a>
        </td>
    </tr>
    <% } %>
</table>

<%-include('../rodape.ejs')%>
